{% extends '@site/layout/default.html.twig' %}

{% block title %}{{ siteTitle() }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>Ask for help</h1>

        <div class="mb-3">
            <label for="questionSubject" class="form-label">Subject</label>
            <input type="text" class="form-control" name="subject" id="questionSubject">
        </div>

        <div class="mb-3">
            <label for="questionCategory" class="form-label">Category</label>
            <select id="questionCategory" name="category" class="form-control">
                <option value="">Not sure</option>
                <option value="question">Question</option>
                <option value="bug">Bug report</option>
            </select>
        </div>

        <div class="mb-2">
            <label for="" class="form-label">Message</label>
            <textarea class="form-control" name="message" style="height: 300px;"></textarea>
        </div>

        <div class="mb-2">
            <button type="submit" class="btn btn-outline-success">
                Send
            </button>
        </div>
    </div>
{% endblock %}
