{% extends '@admin/layout/admin.html.twig' %}

{% block title %}Delete User{% endblock %}

{% block content %}
    <div class="container-sm">
        <div class="row">
            <div class="col">
                <h1>Delete User</h1>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% include '@admin/user/submenu.html.twig' %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>
                    Are you sure you want to delete {{ entity.username }} ?
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form action="" method="post" class="d-inline">
                    <button type="submit" class="btn btn-danger">Yes</button>
                </form>

                <a href="{{ url('admin-user-overview') }}" class="btn btn-secondary">No</a>
            </div>
        </div>
    </div>
{% endblock %}
