<ul class="nav mb-3">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ url('admin-media-overview') }}">
            Overview
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('admin-media-create') }}">
            Create
        </a>
    </li>
</ul>
