<ul class="nav mb-3">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ url('admin-settings-overview') }}">
            General
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{{ url('admin-settings-locales') }}">
            Locales
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{{ url('admin-settings-export') }}">
            Export
        </a>
    </li>
</ul>
